<% object = @story %>
<%= semantic_form_for [:admin,object], html: {multipart: true} do |f| %>
  <%= f.semantic_errors *f.object.errors.keys %>
  <%= f.inputs do %>

    <div class="row">
      <%= f.input :locale, as: :select, collection: @locales, wrapper_html: {class: 'col-md-4'} %>
      <%= f.input :time_period_id, as: :select, collection: @time_periods.pluck(:label, :id), wrapper_html: {class: 'col-md-4'} %>
      <%= f.input :country_id, as: :select, collection: @countries.pluck(:name, :id), wrapper_html: {class: 'col-md-4'} %>
    </div>

    <%= f.input :title, as: :string %>

    <%= f.input :link, as: :url %>

    <%= f.input :content, as: :text, input_html: {class: 'js-become-rich-text-editor'} %>

    <div class="file input optional form-group" id="story_image_input">
      <span class="form-label">
        <label for="story_image" class=" control-label"><%= t('activerecord.attributes.story.image') %></label>
      </span>
      <% if object.image.exists? %>
        <%= image_tag(object.image.url(:thumb)) %>
      <% end %>
      <span class="form-wrapper">
        <input accept=".jpg,.jpeg,.png" id="story_image" name="story[image]" type="file">
      </span>
    </div>

  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, button_html: { class: 'btn btn-success' } %>
  <% end %>
<% end %>
