<% object = @country %>
<%= semantic_form_for [:admin,object], html: {multipart: true} do |f| %>
  <%= f.semantic_errors *f.object.errors.keys %>
  <%= f.inputs do %>
    <%= render layout: 'shared/form/translated_inputs',
               locals: { object: object } do |enabled_locale, enabled_locale_name| %>
      <%= f.input "name_#{enabled_locale}",
                  label: t('shared.labels.translated_field',
                         field: t('activerecord.attributes.country.name'),
                         language: enabled_locale_name) %>
      <%= f.input "leader_#{enabled_locale}",
                  label: t('shared.labels.translated_field',
                         field: t('activerecord.attributes.country.leader'),
                         language: enabled_locale_name) %>
    <% end %>
  <% end %>



  <div class="row">
    <div class="col-md-4">
      <%= f.input :lat, input_html: {class: 'long_number'} %>
    </div>
    <div class="col-md-4">
      <%= f.input :lon, input_html: {class: 'long_number'} %>
    </div>
    <div class="col-md-4">
      <%= f.input :map_zoom_level %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= f.input :ti_url, as: :url %>
    </div>
    <div class="col-md-4">
      <%= f.input :ti_index_score, input_html: {class: 'long_number'} %>
    </div>
    <div class="col-md-4">
      <%= f.input :ti_index_rank, input_html: {class: 'long_number'} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= f.input :freedom_house_url, as: :url %>
    </div>
    <div class="col-md-4">
      <%= f.input :freedom_house_index, as: :select, collection: @freedom_house_values %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="file input optional form-group" id="country_flag_image_input">
        <span class="form-label">
          <label for="country_flag_image" class=" control-label"><%= t('activerecord.attributes.country.flag_image') %></label>
        </span>
        <% if object.flag_image.exists? %>
          <%= image_tag(object.flag_image.url(:thumb)) %>
        <% end %>
        <span class="form-wrapper">
          <input accept=".jpg,.jpeg,.png" id="country_flag_image" name="country[flag_image]" type="file">
        </span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="file input optional form-group" id="country_leader_image_input">
        <span class="form-label">
          <label for="country_leader_image" class=" control-label"><%= t('activerecord.attributes.country.leader_image') %></label>
        </span>
        <% if object.leader_image.exists? %>
          <%= image_tag(object.leader_image.url(:thumb)) %>
        <% end %>
        <span class="form-wrapper">
          <input accept=".jpg,.jpeg,.png" id="country_leader_image" name="country[leader_image]" type="file">
        </span>
      </div>
    </div>
  </div>


  <%= f.actions do %>
    <%= f.action :submit, button_html: { class: 'btn btn-success' } %>
  <% end %>
<% end %>
