<% object = @country %>
<%= semantic_form_for [:admin,object] do |f| %>
  <%= f.semantic_errors *f.object.errors.keys %>
  <%= f.inputs do %>
    <%= render layout: 'shared/form/translated_inputs',
               locals: { object: object } do |enabled_locale, enabled_locale_name| %>
      <%= f.input "name_#{enabled_locale}",
                  label: t('shared.labels.translated_field',
                         field: t('activerecord.attributes.country.name'),
                         language: enabled_locale_name) %>
      <%= f.input "leader_#{enabled_locale}",
                  label: t('shared.labels.translated_field',
                         field: t('activerecord.attributes.country.leader'),
                         language: enabled_locale_name) %>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <%= f.input :lat, input_html: {class: 'long_number'} %>
    </div>
    <div class="col-md-4">
      <%= f.input :lon, input_html: {class: 'long_number'} %>
    </div>
    <div class="col-md-4">
      <%= f.input :map_zoom_level %>
    </div>
  </div>


  <%= f.actions do %>
    <%= f.action :submit, button_html: { class: 'btn btn-success' } %>
  <% end %>
<% end %>
