<%
  model_class = Country
  page_title t('activerecord.models.country', count: 999)
%>

<div class='actions-container'>
  <%= render partial: 'shared/index_actions',
        locals: {
          model_class: model_class,
          new_path: new_admin_country_path
        }
  %>
</div>

<table class='table table-striped table-hover table-nonfluid datatable-admin'>
  <thead>
    <tr>
      <th></th>

      <th><%=t 'activerecord.attributes.country.flag_image' %></th>
      <th><%=t 'activerecord.attributes.country.name' %></th>
      <th><%=t 'activerecord.attributes.country.leader' %></th>
      <th><%=t 'activerecord.attributes.country.area' %></th>
      <th><%=t 'activerecord.attributes.country.population' %></th>
      <th><%=t 'activerecord.attributes.country.gdp' %></th>
      <th><%=t 'activerecord.attributes.country.ti_index_score' %></th>
      <th><%=t 'activerecord.attributes.country.freedom_house_index' %></th>

      <th class='action-col'><%=t 'shared.common.actions' %></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td>
          <%= link_to t('shared.actions.view'),
                      admin_country_path(country),
                      class: 'btn btn-default' %>
        </td>

        <td><%= image_tag(country.flag_image.url(:thumb)) if country.flag_image.exists? %></td>
        <td><%= country.name %></td>
        <td>
          <%= country.leader %>
          <br />
          <%= image_tag(country.leader_image.url(:thumb)) if country.leader_image.exists? %>
        </td>
        <td><%= number_with_delimiter(country.area) if country.area.present? %></td>
        <td><%= number_with_delimiter(country.population) %></td>
        <td><%= number_with_delimiter(country.gdp) %></td>
        <td>
          <%= country.ti_index_score %>
          <% if country.ti_index_rank.present? %>
            <%= "(#{t('shared.common.rank')}: #{country.ti_index_rank}/180)" %>
          <% end %>
        </td>
        <td><%= country.freedom_house_index_value if country.freedom_house_index.present? %></td>

        <td>
          <%= if can? :edit, country
                link_to t('shared.actions.edit'),
                        edit_admin_country_path(country),
                        class: 'btn btn-default'
          end %>

          <%= if can? :destroy, country
                link_to t('shared.actions.destroy'),
                        admin_country_path(country),
                        method: :delete,
                        data: { confirm: t('shared.prompts.confirm') },
                        class: 'btn btn-danger'
          end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
