<head>

  <%-
    title = (content_for?(:page_title) && yield(:page_title) != t('shared.common.name') ? "#{strip_tags_nbsp(yield(:page_title))} | #{t('shared.common.name')}" :
              t('shared.common.name')).html_safe
    desc = t("shared.common.description").html_safe
  -%>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <meta property="og:title" content="<%= title %>">
  <meta name="description" content="<%= desc %>">
  <meta property="og:description" content="<%= desc %>" />
  <meta property="og:type" content="non_profit" />
  <meta property="og:url" content="<%= current_url %>" />
  <!--meta property="og:image" content="<%= image_url("shareimage.png") %>" /-->
  <meta property="og:site_name" content="<%= t("shared.common.name") %>" />


  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->

  <%
    # add extra styles if the user is signed in
    css = []
    css << 'admin_styles' if user_signed_in?
    css << 'admin' if params[:controller] != 'root'
    css << 'application'
  %>
  <% if @add_map_assets %>
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
     integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
     crossorigin=""/>
  <% end %>
  <%= stylesheet_link_tag  *(css), :media => "all" %>

  <%= render partial: 'application/head/favicons' %>
  <%
    # add extra scripts if the user is signed in
    js = []
    if user_signed_in?
      js << 'admin_scripts'
    else
      js << 'application'
    end
  %>
  <% if @add_map_assets %>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
     integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
     crossorigin=""></script>
  <% end %>
  <%= javascript_include_tag *(js) %>

</head>
