<div class="app">
  <aside class="desktop"><%= yield :aside %></aside>
  <main>
    <%= render partial: "root/shared/enet_nav_#{I18n.locale}" %>
    <%= render partial: 'root/shared/nav' %>
    <%= yield %>
    <%#= render partial: 'root/shared/footer' %>
  </main>
</div>
<%= yield :popup %>

